@use "@angular/material" as mat;
@import 'styles/variables';

// Habilita el núcleo de Material (requerido)
@include mat.core();

// Define un tema de Material (puedes cambiar los colores si quieres)
$theme: mat.define-light-theme(
  (
    color: (
      primary: mat.define-palette(mat.$indigo-palette),
      accent: mat.define-palette(mat.$pink-palette),
      warn: mat.define-palette(mat.$red-palette),
    ),
    typography: mat.define-typography-config(),
    density: 0,
  )
);

// Aplica el tema globalmente
@include mat.all-component-themes($theme);

// Reset y configuración base
* {
  box-sizing: border-box;
}

body {
  padding-top: 80px; // Espacio para el header fijo
  margin: 0;
  font-family: "Roboto", "Helvetica Neue", Arial, sans-serif;
  min-height: 100vh;
  background: mat.get-color-from-palette(mat.$grey-palette, 50);
  color: mat.get-color-from-palette(mat.$grey-palette, 900);
  line-height: 1.5;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: $spacing-xl;
}
a{
  text-decoration: none;
  color: inherit;
}
